body {
    font-family: comic sans ms;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bold;
}

button {
    margin: auto;
    display: block;
}

#inputs {
    text-align: center;
}

p {
    text-align: center;
}