body {
    font-family: "georgia";
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    font-weight: bold;
}

button {
    margin: auto;
    display: block;
}

#inputs {
    text-align: center;
}

p {
    text-align: center;
}

#page{
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem; 
}